<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blossom.web.mapper.AuthorMapper">

    <resultMap id="authorMap" type="com.blossom.web.model.AuthorEntity">
        <result column="authortyId" property="authortyId" />
        <result column="parentAuthortyId" property="parentAuthortyId" />
        <result column="authortyName" property="authortyName" />
        <result column="authortyDescription" property="authortyDescription" />
        <result column="authortyUrl" property="authortyUrl" />
    </resultMap>

    <!--获取全部的权限信息-->
    <select id="queryAllAuthorInfo" parameterType="java.util.Map" resultMap="authorMap">
        SELECT authortyId,parentAuthortyId,authortyName,authortyDescription,authortyUrl
        FROM  tb_authorty
    </select>

    <!--根据用户账号获取权限-->
    <select id="queryAuthorInfoByUserAccount" parameterType="java.util.Map" resultMap="authorMap">
        SELECT a.authortyId authortyId,a.parentAuthortyId parentAuthortyId,a.authortyName authortyName,a.authortyDescription authortyDescription,a.authortyUrl authortyUrl
       FROM tb_role r LEFT JOIN tb_role_authorty ra ON r.roleId = ra.roleId LEFT JOIN tb_authorty a ON ra.authortyId = a.authortyId
       WHERE r.roleId = #{roleId}
    </select>

    <!--根据角色编号获取权限-->
    <select id="queryAuthorInfoByRoleId" parameterType="java.util.Map" resultMap="authorMap">
        SELECT a.authortyId authortyId,a.parentAuthortyId parentAuthortyId,a.authortyName authortyName,a.authortyDescription authortyDescription,a.authortyUrl authortyUrl
        FROM tb_user u LEFT JOIN  tb_user_authorty ua ON u.userId = ua.userId LEFT JOIN tb_authorty a  ON
         ua.authortyId = a.authortyId
         WHERE u.loginAccount = #{loginAccount}
    </select>

</mapper>