<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blossom.web.mapper.RoleAuthorMapper">

    <resultMap id="authorMap" type="com.blossom.web.model.AuthorEntity">
        <result column="authortyId" property="authortyId" />
        <result column="parentAuthortyId" property="parentAuthortyId" />
        <result column="authortyName" property="authortyName" />
        <result column="authortyDescription" property="authortyDescription" />
        <result column="authortyUrl" property="authortyUrl" />
    </resultMap>

    <!--根据角色编号获取权限-->
    <select id="queryAuthorInfoByRoleId" parameterType="java.util.Map" resultMap="authorMap">
        SELECT a.authortyId authortyId,a.parentAuthortyId parentAuthortyId,a.authortyName authortyName,a.authortyDescription authortyDescription,a.authortyUrl authortyUrl
        FROM tb_role r LEFT JOIN tb_role_authorty ra ON r.roleId = ra.roleId LEFT JOIN tb_authorty a ON ra.authortyId = a.authortyId
        WHERE r.roleId = #{roleId}
    </select>

    <!--删除角色权限-->
    <delete id="deleteRoleAuthorInfo" parameterType="java.util.Map">
        DELETE FROM tb_role_authorty WHERE roleAuthortyId = #{roleAuthortyId}
    </delete>

    <!--添加用户角色-->
    <insert id="insertRoleAuthorInfo" parameterType="com.blossom.web.model.RoleAuthorEntity">
        INSERT INTO
            tb_role_authorty(authortyId,roleId,authortyType)
        VALUES (#{authortyId},#{roleId},#{authortyType})
    </insert>

</mapper>