<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blossom.web.mapper.UserMapper">

    <resultMap id="userMap" type="com.blossom.web.model.UserEntity">
        <result column="userId" property="userId" />
        <result column="organizationId" property="organizationId" />
        <result column="loginAccount" property="loginAccount" />
        <result column="loginPassword" property="loginPassword" />
        <result column="userName" property="userName" />
        <result column="telephone" property="telephone" />
        <result column="email" property="email" />
        <result column="createTime" property="createTime" />
        <result column="loginTime" property="loginTime" />
        <result column="lastLoginTime" property="lastLoginTime" />
        <result column="loginCount" property="loginCount" />
    </resultMap>

    <!--查询用户信息-->
    <select id="queryUserInfo" parameterType="java.util.Map" resultMap="userMap">
        SELECT
              userId,organizationId,loginAccount,loginPassword,userName,telephone,email,createTime,loginTime,lastLoginTime,loginCount
        FROM tb_user
        <where>
            <if test="loginAccount != null">loginAccount = #{loginAccount}</if>
        </where>
    </select>

    <!--修改用户信息-->
    <update id="updateUserInfo" parameterType="java.util.Map">
        UPDATE tb_user
        <set>
            <if test="loginAccount != null">loginAccount = #{loginAccount},</if>
            <if test="loginPassword != null">loginPassword = #{loginPassword},</if>
            <if test="userName != null">userName = #{userName},</if>
            <if test="telephone != null">telephone = #{telephone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="loginTime != null">loginTime = #{loginTime},</if>
            <if test="lastLoginTime != null">lastLoginTime = #{lastLoginTime},</if>
            <if test="loginCount != null">loginCount = #{loginCount}</if>
        </set>
        <where>
            <if test="userId != null">userId = #{userId}</if>
        </where>
    </update>

    <!--添加数据-->
    <insert id="insertUserInfo" parameterType="com.blossom.web.model.UserEntity">
        INSERT INTO
              tb_user(loginAccount,loginPassword,userName,telephone,email,createTime)
        VALUES (#{loginAccount},#{loginPassword},#{userName},#{telephone},#{email},#{createTime})
    </insert>

    <!--删除用户-->
    <delete id="deleteUserInfo" parameterType="java.util.Map">
        DELETE  FROM tb_user WHERE userId = #{userId}
    </delete>

</mapper>